@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: local('OpenSans Regular'),
        local('OpenSans-Regular'),
        url(./fonts/opensans.woff2) format('woff2'),
        url(./fonts/opensans.woff) format('woff'),
        url(./fonts/opensans.ttf)  format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    src: local('OpenSans Regular Italic'),
        local('OpenSans-Regular-Italic'),
        url(./fonts/OpenSans-Italic.woff2) format('woff2'),
        url(./fonts/OpenSans-Italic.woff) format('woff'),
        url(./fonts/OpenSans-Italic.ttf)  format('truetype');
}




@font-face {
    font-family: 'Open Sans';
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    src: local('OpenSans Bold'),
        local('OpenSans-Bold'),
        url(./fonts/opensansbold.woff2) format('woff2'),
        url(./fonts/opensansbold.woff) format('woff'),
        url(./fonts/opensansbold.ttf)  format('truetype');
}





@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: local('OpenSans SemiBold'),
        local('OpenSans-SemiBold'),
        url(./fonts/opensanssemibold.woff2) format('woff2'),
        url(./fonts/opensanssemibold.woff) format('woff'),
        url(./fonts/opensanssemibold.ttf)  format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local('OpenSans Bold'),
        local('OpenSans-Bold'),
        url(./fonts/opensansbold.woff2) format('woff2'),
        url(./fonts/opensansbold.woff) format('woff'),
        url(./fonts/opensansbold.ttf)  format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    src: local('OpenSans ExtraBold'),
        local('OpenSans-ExtraBold'),
        url(./fonts/opensansextrabold.woff2) format('woff2'),
        url(./fonts/opensansextrabold.woff) format('woff'),
        url(./fonts/opensansextrabold.ttf)  format('truetype');
}



@font-face {
    font-family: 'Barkentina';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: local('Barkentina Regular'),
        local('Barkentina-Regular'),
        url(./fonts/barkentina.ttf) format('truetype'),
        url(./fonts/barkentina.woff) format('woff'),
        url(./fonts/barkentina.woff2)  format('woff2');
}


body {
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 32px;
}

.barkentina {
    font-family: 'Barkentina', sans-serif;
    font-weight: normal;
}

.open-sans {
    font-family: 'Open Sans';
    font-weight: normal;
}
